.follow-notes-area {
  display: flex;
  margin-bottom: 5px;
}

article .follow-notes-area {
  margin: 5px 0 -5px;
}

.follow-notes-area .user-annotation-btn {
  cursor: pointer;
  padding: 0 5px;
  display: inline-block;
  width: auto;
  border-radius: 15px;
  white-space: nowrap;
  font-size: 12px;
  transition-duration: 0.2s;
  background: #fffdf5;
  border: 1px solid #f4e2c7;
  color: #bd9e64;
}
.follow-notes-area .user-annotation-btn:hover {
  opacity: 0.7;
}

.follow-notes-area .tags {
  margin-left: 10px;
}
.follow-notes-area .tags .tag {
  border-radius: 2px;
  background: #438ddc;
  color: white;
  padding: 2px 5px;
  font-size: 12px;
  vertical-align: middle;
  background: #f3aa15bf;
  padding: 3px 6px;
  font-size: 11px;
  margin-right: 10px;
}
.follow-notes-area .tags .no-tag {
  background: #ccc;
}

/* モーダル */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.user-annotation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0;
  z-index: 1000;
  width: 500px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.user-annotation-popup .message {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: grey;
  padding: 5px 10px;
  color: white;
  transition: 1s;
}

.annotation-header {
  padding: 10px;
  background: #ebe8da;
  border-radius: 8px 8px 0 0;
}

.annotation-header .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

h3, h4 {
  margin: 0;
}

.annotation-header .title img {
  position: relative;
  top: 6px;
  width: 26px;
  margin-right: 5px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.user-annotation-popup .annotation-body {
  padding: 15px 15px 20px;
  border: 5px solid #eae8da;
  border-top: none;
  border-radius: 0 0 8px 8px;
}

#annotation-text {
  width: 100%;
  min-height: 60px;
  max-height: 120px;
}

.user-info {
  display: flex;
}
.user-info > div {
  flex-grow: 1;
  overflow: hidden;
}
.user-info img {
  width: 70px;
  margin-right: 10px;
}
.user-info p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.user-info p::before {
  color: #777;
  font-size: 11px;
  margin-right: 5px;
}
.user-info p.id::before {
  content: "ID:";
}
.user-info p.name::before {
  content: "Name:";
}

.user-info a.resync-id-btn {
  color: #1da1f2;
  font-size: 11px;
  margin-left: 25px;
  cursor: pointer;
}

.annotation {
  margin-bottom: 20px;
}

.annotation textarea,
.annotation input {
  flex-grow: 1;
  line-height: 1.2rem;
  padding: 8px 5px;
  box-sizing: border-box;
  border: none;
  outline: none;
  transition: 0.3s;
}
.annotation textarea::placeholder,
.annotation input::placeholder {
  color: #aaa;
}
.annotation textarea:hover,
.annotation input:hover {
  /* border: 1px solid #ddd; */
}
.annotation textarea:focus,
.annotation input:focus {
  /* border: 1px solid #888; */
  /* outline: none; */
}

.annotation > div {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border: 1px solid #888;
  margin-top: 10px 0 0 10px;
  padding: 5px 5px;
  margin-bottom: 15px;
  transition: 0.3s;
}
.annotation > div::before {
  color: #777;
  margin-right: 5px;
  display: block;
  position: absolute;
  top: -10px;
  left: 10px;
  background: white;
  padding: 0 5px;
  font-size: 12px;
}
.annotation .memo::before {
  content: "Memo";
}
.annotation .tags::before {
  content: "Tags";
}

#tags-container span.tag {
  font-size: 12px;
  padding: 4px 2px 4px 5px;
  margin-right: 3px;
  border-radius: 2px;
  background: #f3aa15bf;
  color: white;
  line-height: 30px;
}
#tags-container span.tag a {
  cursor: pointer;
  margin-left: 5px;
  padding: 5px 3px;
  font-size: 18px;
  position: relative;
  top: 1px;
}

.history-btn, .back-btn {
  border: none;
  border-radius: 20px;
  padding: 6px 12px;
  font-size: 12px;
  background: black;
  color: white;
  cursor: pointer;
}
.history-btn:disabled, .back-btn:disabled {
  background: grey;
  cursor: default;
}

.history.scrollable,
.user-search.scrollable {
  overflow-y: auto;
  max-height: 400px;
  width: calc(100% + 30px);
  position: relative;
  left: -15px;
  top: 0px;
  padding-bottom: 60px;
}
.scrollable-wrapper {
  position: relative;
}
.scrollable-wrapper::before,
.scrollable-wrapper::after {
  content: "";
  display: block;
  height: 15px;
  z-index: 1;
  position: absolute;
  left: -15px;
  right: -15px;
}
.scrollable-wrapper::before {
  top: 0px;
  background: linear-gradient(180deg, white, transparent);
}
.scrollable-wrapper::after {
  height: 60px;
  bottom: 0px;
  background: linear-gradient(0deg, white, transparent);
}

.history-item {
  display: flex;
  position: relative;
}

.history-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 33px;
  left: 65px;
  width: 13px;
  height: 13px;
  background: #ebe8da;
  border-radius: 50%;
  z-index: 1;
}

.history-item::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 62px;
  width: 19px;
  height: 19px;
  background: white;
  border-radius: 50%;
}

.history-item .date {
  width: 60px;
  margin: 0 20px 0 0;
  padding-right: 10px;
  border-right: 3px solid #ffd500;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
}

.history-item .date span {
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #666;
  padding: 2px 5px;
  text-align: center;
  font-size: 10px;
}

.history-item .user-info {
  background: #eae8da;
  width: calc(100% - 135px);
  padding: 10px;
  margin: 5px;
}
.history-item .user-info img {
  width: 50px;
}
.history-item:nth-child(even) .user-info {
  margin-left: 20px;
}

/* ユーザ検索 */
p.step {
  margin: 0 0 10px;
  color: #333;
}
#user-search-filter-input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 8px;
  border: 1px solid #888;
  margin: 0 0 10px 0;
}
.user-search {
  padding-top: 10px;
  border-top: 2px solid black;
}
.user-search .user-item {
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
.user-search .user-item:hover {
  opacity: 0.8;
  background: #eeeeee;
}
.user-search .user-info > div {
  margin-top: 10px;
}
